main{
    .doctors{
        @include flex ( flex, space-around, center);
        
        flex-direction: row-reverse;
        img{
            width: 30%;
            height: 100vh;
        }
       .lista{
        margin-top:50;
        padding: 60px;
        width: 50%;
        height: 100vh;
       }
    }
}