// INDEX

main{
    background-color: rgb(215, 203, 177);
    background-image: radial-gradient(circle, rgba(195, 240, 240, 0.874) 0%, rgb(186, 207, 188) 100%);
    .clinica{
        h2{
            padding: 30px;
            margin: 30px;
            // text-align: center;
            // font-size: 50px;
            // font-weight: 50px;
            // color: rgb(34, 40, 40);
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-shadow: rgb(222, 215, 215) 2px 2px 0px;
            text-decoration: double;
            @extend %title;
        }
        p{
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            font-weight: 100px;
            color: rgb(55, 61, 61);
        }
        .instalaciones{
            width: 100%;
            margin-top: 30px;
            margin-bottom: 30px;
            display: grid;
            grid-template-columns:repeat(2,1fr);
            grid-template-rows: 300px 200px 200px;
            gap: 20px;
            
            div{
                &hover{
                    transform: scale(1.5);
                    transition-delay: 0.5s;
                    transition-duration: 1s;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    box-shadow: 14px 15px 21px -7px rgba(0,0,0,0.47);
                   -webkit-box-shadow: 14px 15px 21px -7px rgba(0,0,0,0.47);
                   -moz-box-shadow: 14px 15px 21px -7px rgba(0,0,0,0.47);
                }
            }
            .instalaciones5{
                grid-row-start: 2;
                grid-row-end: 4;
            }
        }





    }
}