main{
    .servicios{
        h2{
            padding: 20px;
            margin-bottom: 30px;
            @extend %title
        }
    }
    .carouselExampleControls{
        .carousel-inner{
            .carousel-item active{
                display: flex;
                justify-content: center;
                align-items: center;
                
                h5{
                    font-size: 70px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: bisque;
                    text-decoration:double;
                    background-color: rgb(73, 74, 75);
                    background-size: cover;
                    background:linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.452) );
                }

            }
        }
    }
}