main{
    .servicios{
        h2{
            padding: 20px;
            margin-bottom: 30px;
            @extend %title
        }
    }
    .carouselExampleControls{
        .carousel-inner{
            .carousel-item active{
                display: flex;
                justify-content: center;
                align-items: center;
                
            

            }
        }
    }
}