main{
    .servicios{
        h2{
            padding: 20px;
            margin-bottom: 30px;
            @extend %title
        }
    }
    .carruselservice{
        .carousel-inner{
            carousel-item{
                h5{
                    font-size: 50px;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: bisque;
                    text-decoration:double;
                    background-color: rgb(73, 74, 75);
                    background-size: cover;
                    background:linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.452) );
                }

            }
        }
    }
}